<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>number</key>
		<string>0</string>
		<key>comment</key>
		<string>Mi boda del civil</string>
	</dict>
	<dict>
		<key>number</key>
		<string>1</string>
		<key>comment</key>
		<string>El Panteon en Roma</string>
	</dict>
	<dict>
		<key>number</key>
		<string>2</string>
		<key>comment</key>
		<string>El Vaticano</string>
	</dict>
	<dict>
		<key>number</key>
		<string>3</string>
		<key>comment</key>
		<string>San Pedro con cuernos</string>
	</dict>
	<dict>
		<key>number</key>
		<string>4</string>
		<key>comment</key>
		<string>Foro Romano Exterior</string>
	</dict>
	<dict>
		<key>number</key>
		<string>5</string>
		<key>comment</key>
		<string>Foro Romano Interior</string>
	</dict>
	<dict>
		<key>number</key>
		<string>6</string>
		<key>comment</key>
		<string>Plaza del Capitolio</string>
	</dict>
</array>
</plist>
